extends layout

block content
  .container-fluid
      form#inputForm(role='search')
        .flex
          span.btn-success.helper-text http://
          input#inputFormGetURL.form-control.input-width-long(type='text', placeholder='Enter URL', aria-describedby='enter-url')
          span#inputFormSubmit.glyphicon.glyphicon-ok.btn.btn-primary.actions(aria-hidden='true')
          span#clear.glyphicon.glyphicon-remove.btn.btn-danger.actions(aria-hidden='true')

        #htmlScreenshot.drop-zone.flex
            img(src='')
           

