
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.hideScroll{
  width: 400px;
  height: 400px;
  overflow: hidden;
}
#htmlScreenshot{
  width: 100%;
  height:100%;
}
.drop-zone {
border: 10px dashed #ccc;
color: #ccc;
font-size: 32px;
line-height: 400px;
text-align: center;

}
.drop-zone:after{
    content : 'image here'
}
.progress-zone{
    background: url("../img/loader.gif") no-repeat center center;
 }
#htmlScreenshot.complete-zone {
overflow:scroll; 
width: 104%;

   
}
.failed-zone:after{
    content : 'Error'
}
.invalid-zone:after{
    content : 'enter url'
}
