
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#htmlScreenshot{
  width: 100%;
  height:100%;
  margin-top:50px;
  border: 10px dashed #ccc;
}
#htmlScreenshot img{
padding:10%;
display:none;
}
#htmlScreenshot.complete-zone img{
  display:block;
}
.drop-zone {

color: #ccc;
font-size: 32px;
line-height: 400px;
text-align: center;

}
.drop-zone:after{
    content : 'image here'
}
.progress-zone{
    background: url("../img/loader.gif") no-repeat center center;
 }

.failed-zone:after{
    content : 'Error'
}
.invalid-zone:after{
    content : 'enter url'
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
 .helper-text {
  padding: 9px;
  border-radius: 2px;
}